/* Color Theme Swatches in Hex */
$mhw_Theme-1-hex: #0a060c;
$mhw_Theme-2-hex: #011000;
$mhw_Theme-3-hex: #052603;
$mhw_Theme-4-hex: #0e3e03;
$mhw_Theme-5-hex: #1e5a04;
$mhw_sharpness_empty: #000;
$mhw_sharpness_red: #c00;
$mhw_sharpness_orange: #f80;
$mhw_sharpness_yellow: #fb3;
$mhw_sharpness_green: #00c851;
$mhw_sharpness_blue: #0d47a1;
$mhw_sharpness_white: #fff;

body {
  background-color: $mhw_Theme-1-hex;

  font-family: "Lato", sans-serif;
}

h1,
h2,
p,
span,
h4,
h3 {
  font-family: "Open Sans", sans-serif;
  color: white;
}

h4 {
  font-size: 1em;
  text-align: center;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
}
hr {
  width: 100%;
}

.equipmentDetails {
  background-color: $mhw_Theme-3-hex;
  border-radius: 0.4em;
  padding: 0.5em;
  width: calc(100%-0.3em);
  margin: 0.3em;

  &__title {
    &__icon {
      width: 3em;
    }
    border-radius: 0.5em;
    background-color: $mhw_Theme-4-hex;
    align-items: center;
    display: flex;
    font-size: 0.9em;
    justify-content: center;
    margin: 0;
  }
  &__body {
    display: flex;

    &__media {
      &--imgWeapon {
        background-color: $mhw_Theme-5-hex;
        width: inherit;
      }
      &__gallery {
        display: flex;
        &--img {
          background-color: $mhw_Theme-5-hex;
          padding-top: 1em;
          width: inherit;
          border-width: 1px;
          border-style: solid;
          border-color: rgba(0, 0, 0, 0.2);
        }
      }
      margin-top: 0.5em;
      height: auto;
      max-height: 240px;
      width: auto;
      display: flex;
      justify-content: center;
      padding: 0.2em;
      border-radius: 0.2em;
      background-color: $mhw_Theme-2-hex;
    }
    &__data {
      min-width: 350px;
      box-sizing: content-box;
      border-color: $mhw_Theme-3-hex;
      border: 0.2em;
      border-style: solid;

      &__details {
        padding-left: 1em;
        padding-right: 1em;
      }
      &__stats {
      }
      margin: 0.5em;
      margin-right: 0;
      margin-bottom: 0;
      padding: 0.1em;
      border-radius: 0.2em;
      background-color: $mhw_Theme-4-hex;
    }
  }
}

.sharpnessBars {
  &__title {
    text-align: center;
  }
  &__subtitle {
    &--icon {
      width: 1.5em;
      height: 1.5em;
      margin-right: 1em;
      margin-left: 0.5em;
    }
    display: flex;
    align-items: center;
  }
  &__bar {
    &--tag {
      width: 100px;
      height: 25px;
    }
    display: flex;
    align-items: center;
  }
}

.slotsBar {
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    margin-right: 2em;
  }
  &__noDecoTitle {
    margin-left: 2.5em;
    margin-right: 2em;
  }
  &__slot {
    margin: 0 0.4em;
  }
}

.sharpness {
  margin-left: 1em;
  width: 200px;
  height: 15px;
  display: flex;
  background-color: $mhw_sharpness_empty;

  &__red {
    display: inline-block;
    height: 15px;
    background-color: $mhw_sharpness_red;
  }
  &__orange {
    display: inline-block;
    height: 15px;
    background-color: $mhw_sharpness_orange;
  }
  &__green {
    display: inline-block;
    height: 15px;
    background-color: $mhw_sharpness_green;
  }
  &__yellow {
    display: inline-block;
    height: 15px;
    background-color: $mhw_sharpness_yellow;
  }
  &__blue {
    display: inline-block;
    height: 15px;
    background-color: $mhw_sharpness_blue;
  }
  &__white {
    display: inline-block;
    height: 15px;
    background-color: $mhw_sharpness_white;
  }
}

.stats {
  &__element,
  &__phialType {
    &--values {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.stats {
  &__resistances,
  &__defense,
  &__affinity,
  &__elderseal,
  &__element,
  &__damageType,
  &__bonusDefense,
  &__boostType,
  &__phialType,
  &__attack {
    &--values {
      line-height: 0.2em;
      color: $mhw_Theme-2-hex;
      font-size: 0.9em;
      &-hidden {
        color: gray;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;
        font-size: 0.9em;
      }
    }

    &__container {
      margin-left: auto;
      margin-right: auto;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgba(0, 0, 0, 0.2) dotted 3px;
    &--tag {
      width: 10em;
      font-size: 0.9em;
      display: flex;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    &--icon {
      width: 1.5em;
      height: 1.5em;
      margin-right: 1em;
      margin-left: 0.5em;
    }
    &--values {
      margin-top: 0.5em;
      margin-bottom: 0.5em;

      justify-content: left;
      margin-right: auto;
      margin-left: auto;
      line-height: 0.2em;
      color: $mhw_Theme-2-hex;
      font-size: 0.9em;
      color: white;
    }
    &--element-icon {
      width: 1.4em;
      height: 1.4em;
      margin-right: 0.4em;
    }

    &--element {
      display: flex;
      align-items: center;
      justify-items: left;
    }
  }
}
